a {
	cursor: pointer;
}

.In_header {
	width: 100%;
	
	overflow: hidden;
	margin: 0 auto;
	background: url(../img/shouye.png) no-repeat center;
	background-size: 100% 100%;
}

input {
	outline: none;
}

.iconfont {
	font-size: 20px;
	font-family: 'iconfont';
	font-style: normal;
	position: absolute;
	left: 3%;
	top: 25%;
	color: #878787;
}

.nav_Verify_img {
	width: 35%;
	height: 36px;
	border-radius: 4px;
	margin-left: 2%;
	float: left;
}

.nav_Verify {
	background: rgba(0, 0, 0, 0.50);
	border: 1px solid #1ce4ef;
	height: 36px;
	border-radius: 4px;
	color: white;
	padding-left: 36px;
	border: 1px solid #1ce4ef;
	width: 60%;
	outline: none;
	float: left;
}

.In_text_banner {
	width: 35%;
	height: 47px;
	border: 1px solid #1ce4ef;
	border-radius: 4px;
	margin-left: 16%;
	margin-top: 40px;
	background: rgba(0, 0, 0, 0.50);
}

@font-face {
	font-family: 'iconfont';
	/* project id 284532 */
	src: url('//at.alicdn.com/t/font_0jcnhwa59jinqaor.eot');
	src: url('//at.alicdn.com/t/font_0jcnhwa59jinqaor.eot?#iefix')
		format('embedded-opentype'),
		url('//at.alicdn.com/t/font_0jcnhwa59jinqaor.woff') format('woff'),
		url('//at.alicdn.com/t/font_0jcnhwa59jinqaor.ttf') format('truetype'),
		url('//at.alicdn.com/t/font_0jcnhwa59jinqaor.svg#iconfont')
		format('svg');
}

.In_iconfont {
	font-size: 20px;
	font-family: 'iconfont';
	font-style: normal;
	margin-left: 3%;
	line-height: 45px;
	color: #1ce4ef;
}

font {
	line-height: 45px;
	color: white;
}

.fl {
	float: left;
}

.nav_Verify_btn {
	background: #787878;
	border: none;
	color: white;
	width: 35%;
	height: 36px;
	border-radius: 4px;
	margin-left: 2%;
	float: left;
	font-size: 12px;
}

.In_line {
	width: 300px;
	height: 45px;
	line-height:45px;
	overflow:hidden;
}

.In_line li a {
	color: white;
	line-height: 45px;
}
.up_li a{
	line-height:48px;
	color:white;
}

.In_More {
	color: white;
	float: left;
	line-height: 45px;
}

.In_mid {
	width: 100%;
	overflow: hidden;
}

.In_tit {
	width: 65%;
	float: left;
	overflow: hidden;
}

.In_tit p {
	font-size: 24px;
	color: white;
	line-height: 300px;
	text-align: center;
}

.In_tit span {
	font-size: 28px;
	color: #1ce4ef;
}

.In_login {
	width: 21%;
	float: left;
	border: 1px solid #17bbc5;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.30);
	margin-top: 50px;
	margin-bottom: 71px;
	border-radius: 4px;
}

.In_login ul li {
	overflow: hidden;
	font-size: 16px;
	color: white;
	margin: 18px auto;
	width: 83%;
	position: relative;
}

.text_in {
	background: rgba(0, 0, 0, 0.50);
	border: 1px solid #1ce4ef;
	height: 36px;
	border-radius: 4px;
	color: white;
	padding-left: 36px;
	border: 1px solid #1ce4ef;
	width: 95%;
	outline: none;
}

.In_login select {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 1px;
	width: 85px;
	height: 35px;
	border-radius: 3px;
	background: transparent;
	font-size: 14px;
	text-align: center;
	line-height: 36px;
	color: #69b3e6;
	border: 1px solid transparent;
	outline: none;
}

.nav_Sub {
	width: 69%;
	background: #1bdde8;
	height: 36px;
	border: none;
	border-radius: 4px;
	margin: 10px auto;
	display: block;
	color: white;
	margin-top: 40px;
	font-size: 18px;
	outline: none;
}

.nav_pwd {
	width: 69%;
	margin: 12px auto;
	overflow: hidden;
}

.nav_reg {
	color: #1ddfea;
	text-decoration: underline;
	float: left;
}

.nav_find_pwd {
	float: right;
	color: #cccccc;
}

.In_bottom {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: #0f091c;
}

.In_mid_bot {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
}

.In_mid_list {
	overflow: hidden;
	float: left;
	width: 29%;
}

.In_mid_list p {
	color: #1ce4ef;
}

.In_bot_banner {
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
	border-right: 2px solid white;
	margin-top: 15px;
}

.In_bot_banner img {
	margin-left: 34%;
	margin-top: 10%;
}

.In_bot_banner p {
	color: white;
	margin-top: 3%;
	text-align: center;
}

.In_bot_context {
	width: 90%;
	overflow: hidden;
	margin-top: 15px;
	border-right: 2px solid white;
}

.In_bot_list {
	width: 375px;
	overflow: hidden;
	margin-top: 15px;
}

.In_bot_context li {
	line-height: 22px;
}

.In_bot_context a {
	color: white;
	font-size: 12px;
}

.In_icon {
	font-family: 'iconfont';
	color: white;
	font-size: 13px;
}

.In_bot_listcont {
	width: 200px;
	float: right;
}

.In_list_bot {
	width: 35% !important;
}